.nosotros {
  background-color: #00732f;
  color: white;
  text-align: center;
  padding: 40px 20px;
  font-size: 16px;
}

.nosotros h2 {
  color: #fef3c0;
  font-family: 'Segoe UI Semibold', sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nosotros p {
  max-width: 800px;
  margin: 0 auto 30px auto;
  line-height: 1.6;
}
